@import "../../variables";

.login-page {
  // 100% - header - footer - margins
  //min-height: calc(100% - #{$size-xxl} - #{$size-xxl} - #{$spacing-xl} - #{$spacing-xl} - #{$spacing-xl})
  //min-height: calc(100vh - 3rem - 3rem  - 2rem - 2rem - 2rem);

  margin: 0 auto;
  max-width: 400px;
  background-color: $cream;
  padding: $spacing-xl;
  h1 {
    font-weight: $bold;
  }
  .evaluator-text {
    font-weight: $light;
  }
  .legal-text {
    font-size: $font-sm;
    a {
      color: $black;
    }
  }
  .required-text {
    margin-bottom: 0;
    font-weight: $bold;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    label {
      width: 100%;
      margin: $spacing-md 0 $spacing-sm 0;
    }
    input {
      display: block;
      height: $size-xl;
      padding: $spacing-xsm $spacing-sm;
      letter-spacing: 1px;
    }
  }

  .submit-button {
    width: 100%;
    margin-top: $spacing-xl;
    input {
      cursor: pointer;
      color: $white;
      background-color: $black;
      height: $size-xxl;
      width: inherit;
    }
  }
}
