@import "../../variables";

.login-page {
  // 100% - header - footer - margins
  //min-height: calc(100% - #{$size-xxl} - #{$size-xxl} - #{$spacing-xl} - #{$spacing-xl} - #{$spacing-xl})
  //min-height: calc(100vh - 3rem - 3rem  - 2rem - 2rem - 2rem);

  margin: 0 auto;
  max-width: 400px;
  background-color: $cream;
  padding: $spacing-xl;
  h1 {
    font-weight: $bold;
  }
  p {
    font-weight: $light;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    label {
      width: 100%;
      margin: $spacing-md 0 $spacing-sm 0;
    }
    input {
      display: block;
      height: $size-xl;
      padding: $spacing-xsm $spacing-sm;
    }
  }



}
