@import "../../variables";

.footer {
  background-color: $dark-green;
  color: $white;
  letter-spacing: 0.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $size-md;
  line-height: $size-md;
  text-align: center;
  a {
    color: $white;
  }
}
