@import "../../variables";

.footer {
  background-color: $dark-green;
  color: $white;
  letter-spacing: 0.5px;
  bottom: 0;
  width: 100%;
  height: $size-xxl;
  line-height: $size-xxl;
  text-align: center;
  a {
    color: $white;
  }
}
