$base-unit: 1rem;

// spacing
$spacing-xsm: $base-unit * 0.25;
$spacing-sm: $base-unit * 0.5;
$spacing-md: $base-unit;
$spacing-xl: $base-unit * 2;


// sizing
$size-sm: $base-unit * 0.5;
$size-md: $base-unit;
$size-xl: $base-unit * 2;
$size-xxl: $base-unit * 4;

// colors

$white: #fff;
$black: #000000;
$dark-green: #212a2f;
$cream: #f1ebe7;

// font
$font-sm: $base-unit * 0.75;
$light: 300;
$bold: 700;
